<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="path1Checked" value="true"/>
		<add key="path1Text" value="C:\Users\Elliott\Desktop\hi"/>
		<add key="path2Checked" value="false"/>
		<add key="path2Text" value=""/>
		<add key="autoClearRadioChecked" value="true"/>
		<add key="clearWithPromptRadioChecked" value="false"/>
		<add key="dontClearRadioChecked" value="false"/>
	</appSettings>
</configuration>